body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
    margin: 0px;
}
header{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
}
nav{
    background-color: dodgerblue;
    padding: 10px;
    border-radius: 9px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.479);
}
nav > a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    margin-right: 10px;
}
nav > a:hover{
    text-decoration: underline;
}
main{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.356);
}
section{
    background-color: rgb(207, 204, 204);
    padding: 1px;
    margin: 10px;
    border-radius: 10px;
}
.assuntos > h2{
    text-align: center;
}
.noticias > article > h2{
    text-align: center; 
}
.noticias > article > p{
    text-align: justify;
    padding: 10px;
}
.noticias > article > aside{
    padding: 10px;
    text-align: center;
    background-color: turquoise;
    border-radius: 10px ;
}
.noticias > article > aside:hover{
    background-color: springgreen;
    text-decoration: underline;
    border-radius: 10px;
}
footer{
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
}
footer > p {
    margin: 0px;
}
.video {
    display: flex;
    height: 400px;
    width: 40%;
    margin: auto;
}
header > input{
    display: flex;
    width: 20%;
    margin: 10px auto;
}
